/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bcbcbe;
  }
  
  .container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .input-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .input-section label {
    font-size: 16px;
  }
  
  .input-section input,
  .input-section button {
    padding: 8px;
    font-size: 16px;
  }
  
  .chart-section {
    margin-bottom: 20px;
  }
  
  .signals-section {
    overflow-x: auto;
  }
  
  #signals-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  #signals-table th,
  #signals-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  #signals-table th {
    background-color: #f2f2f2;
  }
  #fetch-data-btn{
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
  }
